@{
    ViewData["Title"] = "Event Details";
}

@model Event

<div>
    <div class="row">
        <div class="col-md-9">
            <h2>Dojo Activity Center</h2>
        </div>
        <div class="col-md-3 text-right">
            <a href="/dashboard">Home</a> | <a href="/logout"> Logout</a>
        </div>
    </div>
    <div class="mt-5">
        <h2>@Model.EventTitle</h2>
    </div>
    <div class="mt-5">
        <h4>Description:</h4>
        <p>@Model.Description</p>
    </div>
    <div class="mt-5">
        <h4>Participants:</h4>
        @foreach (var x in Model.Participants)
        {
            <ul>
                <li>@x.User.FirstName @x.User.LastName</li>
            </ul>
        }
    </div>
    <div class="mt-5 row">
        @if (ViewBag.User.UserId != Model.Creator.UserId && !Model.Participants.Any(p => p.UserId == ViewBag.User.UserId && p.EventId == Model.EventId))
        {
            <form asp-action="JoinEvent" asp-controller="Home" asp-route-eventId="@Model.EventId" asp-route-userId="@ViewBag.User.UserId" method="post">
                <button type="submit" class="btn btn-primary mb-2">Join</button>
            </form>
        }
        <a href="/edit/@Model.EventId" class="btn btn-primary mb-2 ml-2">Edit</a>
    </div>
    
</div>